#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slotMachine {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;

  margin: 10px;
}

button {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#cash, #bet {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

#bet>input {
  text-align: right;
}