#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#root div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}