#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea, button, #morse_div {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}