#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root>div>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}