#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root>div {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, label, input {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

button {
  padding: 20px;
}