#slot {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}