#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sensors, button, .area {
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

/* stylovani vodovahy */

.area {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}

/* svisla osa (y) */
.area::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: silver;
  left: 50%;
  top: 0;
  /*transform: translateX(-50%);*/
}

/* vodorovna osa (x) */
.area::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: silver;
  top: 50%;
  left: 0;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  z-index: 1;
  /*
  transform: translate(-50%, -50%);
  */
}

button {
  width: 100%;
}